<table>
  <tr>
    <th class="themed-grid-col">час</th>
    {{#each time}}
    <td class="themed-grid-col">{{this}}</td>
    {{/each}}
  </tr>
  <tr>
    <th class="themed-grid-col">температура воздуха, C</th>
    {{#each temp}}
    <td class="themed-grid-col">{{this}}</td>
    {{/each}}
  </tr>
  <tr>
    <th class="themed-grid-col">направление ветра</th>
    {{#each windDir}}
    <td class="themed-grid-col">{{this}}</td>
    {{/each}}
  </tr>
  <tr>
    <th class="themed-grid-col">сила ветра, м/с</th>
    {{#each wind}}

    <td class="themed-grid-col" style="background-color:{{this.color}};">{{this.speed}}</td>

    {{/each}}
  </tr>
  <tr>
    <th class="themed-grid-col">облочность, %</th>
    {{#each cloud}}
    <td class="themed-grid-col">{{this}}</td>
    {{/each}}
  </tr>
</table>
{{#if time1}}
<div style="margin-bottom: 40px;">Ожидайте волны с {{time1}} до {{time2}} часов</div>
<button style="margin: 20px;" class="go button btn btn-primary">Еду на машине</button>
<section class="forForm"></section>
{{else}}
<div style="margin-bottom: 40px;">Волн в этот день не обещают</div>
{{/if}}
